.todoList{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.addButton{
    width: 10%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 700;
    color: white;
    outline: none;
}
.addButtonMuted{
    filter: opacity(50%);
    width: 10%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 700;
    color: white;
    outline: none;
}
.addButton:hover{
    border: 3px solid #3984d3;
    transition: border ease 0.4s;
}
.listDes{
    width: 85%;
    height: 45px;
    font-size: 18px;
    padding: 10px;
    background-color: #FFF;
    color: #101010;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.deleteButton{
    height: 45px;
    width: calc(100% - 87%);
    background-color: #fff;
    color: rgb(11, 5, 37);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.deleteButton i{
    font-size: 20px;
    transition: color ease-in 0.2s;
}
.deleteButton:hover{
    color: #3984d3;
}
